<section class="container-card">
  <h1 class="title-currency">
    Dólar Canadense
  </h1>
  <h2 class="value-currency">
    R$ 4,37
  </h2>
  <div class="content-item">
    <div class="item-details item-percent">
      <p class="item-details-title">
        Variação(%)
      </p>
      <span class="item-details-subtitle">
        -0,11
      </span>
    </div>
    <div class="line-divider"></div>
    <div class="item-details item-time">
      <p class="item-details-title">
        Atualizado
      </p>
      <span class="item-details-subtitle">
        08:01:23
      </span>
    </div>
  </div>
</section>
